# key file
key.txt
gmailKey.json
gmailLogin.txt
config.json

# Commands
images.txt
specialCommands.txt

*.backup
*.db

*.png
*.jpg
*.csv

#python
__pycache__
*.pyc
*.cfg
bin/
lib64

.pylintrc

ignored_roles.txt

.vscode
.idea/

#Gmail data file
email_data.txt

#image files for machine learning
benchydetection
temp
