# key file
key.txt
gmailKey.json
gmailLogin.txt
config.json

# Commands
images.txt
specialCommands.txt

*.backup
*.db

*.png
*.jpg
*.csv

__pycache__
*.pyc

.pylintrc

ignored_roles.txt

.vscode

#Gmail data file
email_data.txt

#image files for machine learning
benchydetection
temp